/*
Stylesheet #1
=============
Some of the styling is in this file, some is in style2.css
*/
/* Change to border-box sizing */
* {
    box-sizing: border-box;
  }
  /* General font and sizing */
  body {
    background-color: #ededed;
    color: #363636;
    font-family: "Open Sans", Arial, Tahoma;
    font-size: 16px;
    margin: 0px;
  }
  /* Container to hold all content */
  .container {
    background: #fff;
    margin: 80px auto 15px auto;
    padding: 15px;
    width: 1000px;
    height: 600px;
  }
  /* Float main content areas */
  #leftContent {
    float: left;
    padding-right: 30px;
    width: 60%;
  }
  #rightContent {
    float: left;
    width: 40%;
  }
  /* Header alignment */
  header {
    text-align: center;
    margin: 0 auto;
  /*
Stylesheet #1
=============
Some of the styling is in this file, some is in style2.css
*/
/* Change to border-box sizing */
*{
    box-sizing: border-box;
  }
  /* General font and sizing */
  body {
    background-color: #ededed;
    color: #363636;
    font-family: "Open Sans", Arial, Tahoma;
    font-size: 16px;
    margin: 0px;
  }
  /* Container to hold all content */
  .container {
    background: #fff;
    margin: 80px auto 15px auto;
    padding: 15px;
    width: 1000px;
    height: 600px;
  }
  /* Float main content areas */
  #leftContent {
    float: left;
    padding-right: 30px;
    width: 60%;
  }
  #rightContent {
    float: left;
    width: 40%;
  }
  /* Header alignment */
  header {
    text-align: center;
    margin: 0 auto;
  }