/**
 * Float Layout Activity
 **/

 * {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  font-family: Roboto, sans-serif;
}

body {
  font-size: 24px;
  line-height: 32px;
  color: #333;
  font-family: "Roboto Slab", sans-serif;
}





#section {
  margin-bottom: 20px;
}

/* Add styling to recreate the layout on the screen */

section::after {
}

#sidebar {
    float: left;
    width: 33.33%;

}

#largeContent {
    float: right;
    width: 66.66%;
    background-color: blue;
}

#left {
  float: left;
  width: 20%;
  background-color: #eee;
}

#middle {
  float: left;
  width: 20%;
  background-color: #444;
  color: white;
}

#right {
  float: right;
  width: 60%;
  background-color: #eee;
}
.section-wrap{
  float:left;
  width:100%;
}
footer {
  float: left;
  width: 100%;
  color: black;
  background-color: #eee 
}